<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.ssmhis.dao.productDao">
    <select id="getList" parameterType="com.study.ssmhis.model.product" resultType="product">
        select * from product
        <!--<where>
            <if test="id!=0">
                id=#{id}
            </if>
            <if test="userName!=null and userName!=''">
                and userName=#{userName}
            </if>
            <if test="password!=null and password!=''">
                and password=#{password}
            </if>
        </where>-->
    </select>
    <select id="byId" parameterType="int" resultType="product">
        select * from product where pid=#{pid}
    </select>
    <insert id="insert" parameterType="com.study.ssmhis.model.product">
        insert into product values(null,#{panme},#{price},#{address},#{brand},#{sn},#{description})
    </insert>
    <update id="update" parameterType="com.study.ssmhis.model.product">
        update product
        <set>
            <if test="panme!=null and pname!=''">
                pname=#{pname},
            </if>
            <if test="price!=null and price!=''">
                price=#{price},
            </if>
            <if test="address!=null and address!=''">
                address=#{address},
            </if>
            <if test="brand!=null and brand!=''">
                brand=#{brand},
            </if>
            <if test="sn!=null and sn!=''">
                sn=#{sn},
            </if>
            <if test="description!=null and description!=''">
                description=#{description},
            </if>
        </set>
        where pid=#{pid}
    </update>
    <!--<select id="delete" parameterType="int" resultType="int">
        delete from user
        <where>
            <if test="id!=0">
                id=#{id}
            </if>
        </where>
    </select>-->
    <delete id="delete" parameterType="int" >
        delete from product where pid=#{pid}
    </delete>
    <delete id="delBatch" parameterType="String">
        delete from product where pid in (${ids})
    </delete>





    <!--<select id="all" resultType="User">
        select * from user
    </select>

    <select id="getById" parameterType="int" resultType="User">
        select * from user where id=#{id}
    </select>-->
</mapper>